<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎页2</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../image/code.png">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/guide.css">
</head>

<body class="body">
    <h1 class="site-h1">规范目的</h1>
    <div class="yh-body">
        <blockquote class="layui-elem-quote">
            为了提高工作效率，便于后台人员添加功能及前端后期优化维护，输出高质量的文档，在网站建设中，使结构更加清晰，代码简明有序，有一个更好的前端架构。
        </blockquote>
        <p>我们知道，当一个团队开始指定并实行编码规范的话，错误就会变得更加显而易见。如果一段特定的代码不符合规范的话，它有可能只是代码风格错误，而也有可能会是 bug。</p>
        <p>早期指定规范就使得代码审核得以更好的开展，并且可以更精确的地定位到错误。只要开发者们能够保证源代码源文件都严格遵循规范，那接下去所使用的混淆、压缩和编译工具则可投其所好不尽相同。</p>
    </div>
    <script type="text/javascript" src="../../frame/layui/layui.js"></script>
    <script type="text/javascript">
    layui.use(['layer', 'element'], function() {
        var layer = layui.layer,
            element = layui.element();

        // you code ...


    });
    </script>
</body>

</html>
