---
layout: default
---
<div class="well">
<p class="octicon-title">年度精选</p>
<div class="time-line">
{%for post in site.posts %}
{% unless post.next %}
<h2 class="category">{{ post.date | date: '%Y' }}</h2>
<ul class="submenu">
{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

{% if year != nyear %}
</ul>
<h2 class="category">{{ post.date | date: '%Y' }}</h2>
<ul class="submenu">
{% endif %}
{% endunless %}
<li>
<h3><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
<span>{{ post.date | date: "%m/%d" }}</span>
</li>
{% endfor %}
</ul>
</div>
</div>
