---
layout: default
---
<div class="home">
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <div class="post-link">
                <p class="post-meta">
                    <span class="host-date">{{ post.date | date: "%Y.%m.%d" }}</span>
                </p>
                <a class="artcle-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <div class="content">
                    {{ post.excerpt }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Page -->
{% if paginator.total_pages > 1 %}
<div class="paginateBox">
    {% if paginator.previous_page %}
    <a class="pageBtn pageBtn-pre" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a> {% endif %} {% if paginator.next_page %}
    <a class="pageBtn pageBtn-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">更多文章</a> {% endif %}
</div>
{% endif %}