<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎页2</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../image/code.png">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/guide.css">
</head>

<body class="body">
    <h1 class="site-h1">色彩</h1>
    <div class="yh-body">
        <blockquote class="layui-elem-quote">
            设计中对色彩的运用不仅应考虑品牌的识别性，还需达到信息传递、操作指引、交互反馈，或是强化和凸显某一个元素的目的。基于操作系统更注重高效、清晰等特点，YHUI Design 的用色上更偏向简洁实用一些。
        </blockquote>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>常用主色</legend>
        </fieldset>
        <div class="site-text">
            <p>YHUI Design 主要品牌颜色是鲜艳、友好的蓝色。</p>
        </div>
        <ul class="site-doc-color">
            <li style="background-color: #58B7FF;">
                <p>#58B7FF</p>
                <p>
                </p>
                <p tips="">Light Blue</p>
            </li>
            <li style="background-color: #01AAED;">
                <p>#01AAED</p>
                <p>
                </p>
                <p tips="">Neutral Blue</p>
            </li>
            <li style="background-color: #20A0FF;">
                <p>#20A0FF</p>
                <p>
                </p>
                <p tips="">Blue</p>
            </li>
            <li style="background-color: #1D8CE0;">
                <p>#1D8CE0</p>
                <p>
                </p>
                <p tips="">Dark Blue</p>
            </li>
        </ul>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>辅助色</legend>
        </fieldset>
        <div class="site-text">
            <p>辅助色是具有代表性的颜色，常用于信息提示，比如成功、警告和失败。</p>
        </div>
        <ul class="site-doc-color">
            <li style="background-color: #3399ff;">
                <p>#3399ff</p>
                <p>
                </p>
                <p color="">Info</p>
            </li>
            <li style="background-color: #00cc66;">
                <p>#00cc66</p>
                <p>
                </p>
                <p color="">Success</p>
            </li>
            <li style="background-color: #ff9900;">
                <p>#ff9900</p>
                <p>
                </p>
                <p color="">Warning</p>
            </li>
            <li style="background-color: #ff3300;">
                <p>#ff3300</p>
                <p>
                </p>
                <p color="">Error</p>
            </li>
        </ul>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>中性色</legend>
        </fieldset>
        <div class="site-text">
            <p>中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。</p>
        </div>
        <ul class="site-doc-color">
                    <li style="background-color: #2F4056;">
                <p>#2F4056</p>
                <p>
                </p>
                <p color="">侧边或底部普遍采用的颜色</p>
            </li>
            <li style="background-color: #393D49;">
                <p>#393D49</p>
                <p>
                </p>
                <p color="">通常用于导航</p>
            </li>

            <li style="background-color: #464c5b;">
                <p>#464c5b</p>
                <p>
                </p>
                <p color="">标题 Title</p>
            </li>
            <li style="background-color: #657180;">
                <p>#657180</p>
                <p>
                </p>
                <p color="">正文 Content</p>
            </li>
            <li style="background-color: #9ea7b4; color: #000;"">
                <p>#9ea7b4</p>
                <p>
                </p>
                <p color="">辅助/图标 Sub Color</p>
            </li>
            <li style="background-color: #c3cbd6; color: #000;">
                <p>#c3cbd6</p>
                <p>
                </p>
                <p color="">失效 Disabled</p>
            </li>
            <li style="background-color: #d7dde4; color: #000;">
                <p>#d7dde4</p>
                <p>
                </p>
                <p color="">边框 Border</p>
            </li>
            <li style="background-color: #e3e8ee; color: #000;">
                <p>#e3e8ee</p>
                <p>
                </p>
                <p color="">分割线 Divider</p>
            </li>
            <li style="background-color: #f5f7f9; color: #000;">
                <p>#f5f7f9</p>
                <p>
                </p>
                <p color="">背景 Background</p>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../../frame/layui/layui.js"></script>
    <script type="text/javascript">
    layui.use(['layer', 'element'], function() {
        var layer = layui.layer,
            element = layui.element();

        // you code ...
    });
    </script>
</body>

</html>
