<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎页2</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../image/code.png">
        <link rel="stylesheet" href="../../css/global.css">
            <link rel="stylesheet" href="../../css/guide.css">
</head>
<body class="body">
    <h1 class="site-h1">YHUI Design</h1>
<div class="yh-body">
<p class="yhui-logo"><img src="../../image/yhui-logo.png" alt=""></p>

<blockquote class="layui-elem-quote">
在产品的研发过程中，会出现不同的设计规范和实现方式，但其中往往存在很多类似的页面和组件，给设计师和工程师带来很多困扰和重复建设，大大降低了产品的研发效率。我们（ YH 技术部）经过大量的项目实践和总结，沉淀出一个 UI 设计语言 YHUI Design。旨在统一项目的前端 UI 设计，屏蔽不必要的设计差异和实现成本，解放设计和前端的研发资源。

</blockquote>

<p class="text-pd-30">YHUI Design 是一个致力于提升『用户』和『设计者』使用体验的中台设计语言。它模糊了产品经理、交互设计师、视觉设计师、前端工程师、开发工程师等角色边界，将进行 UE 设计和 UI 设计人员统称为『设计者』，利用统一的规范进行设计赋能，全面提高中台产品体验和研发效率。</p>

</div>

<script type="text/javascript" src="../../frame/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer','element'], function () {
        var layer = layui.layer, element = layui.element();

        // you code ...


    });
</script>
</body>
</html>