<div class="banner">
    <div class="banner-bg">
        <canvas id="canvas" width="1950px" height="800px"></canvas>
    </div>
    <div class="banner-content">
        <p class="en-name" id="home-motto">Full Stack &amp; User Xperience</p>
        <h1 class="idea" id="font-anim">
        <span>探</span>
        <span>索</span>
        <span>极</span>
        <span>致</span>
        <span>用</span>
        <span>户</span>
        <span>体</span>
        <span>验</span>
        <span>与</span>
        <span>最</span>
        <span>佳</span>
        <span>工</span>
        <span>程</span>
        <span>实</span>
        <span>践</span>
        </h1>
        <div class="home-button">
            <a id="about-me" href="mailto:fsux@outlook.com">关于我</a>
        </div>
    </div>
</div>