<footer class="footer">
    <div class="footer-container">
    <div class="footer-nav-left">
        <ul>
            <li><a href="/travel.html#"><i class="iconfont icon-travel"></i></a></li>
            <li><a href="javascript:;"><i class="iconfont icon-github"></i></a></li>
            <li>
                <!-- <a href="javascript:;">关于</a> -->
                <a href="mailto:fsux@outlook.com" title="联系"><i class="iconfont icon-email"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-nav-right">
        <span>Copyright © FSUX</span>
    </div>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/scripts/fitty.min.js"></script>
<script>
var url = document.location.href;
function addLink(msg) {
    var body_element = document.getElementsByTagName("body")[0];
    var selection;
    if (window.getSelection) {
        selection = window.getSelection()
    } else {
        if (document.getSelection) {
            selection = document.getSelection()
        } else {
            if (document.selection) {
                selection = document.selection.createRange().text
            } else {
                selection = ""
            }
        }
    }
    var pagelink = "<br /><br />作者: RenChao Guan<br />链接: <a href='" + url + "'>" + url + "</a>" + "<br />来源:FSUX.ME<br />著作权归 FSUX 网站所有,商业转载请联系作者获得授权,非商业转载请注明出处。";
    var copy_text = selection + pagelink;
    var new_div = document.createElement("div");
    new_div.style.left = "-99999px";
    new_div.style.position = "absolute";
    body_element.appendChild(new_div);
    new_div.innerHTML = copy_text;
    selection.selectAllChildren(new_div);
    window.setTimeout(function() {
            body_element.removeChild(new_div)
        },
        0)
}
document.body.oncopy = addLink;

var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?002f6ffa5129d9ed6ae4b02cd3ca7585";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();

(function() {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    } else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();

console.log("商务合作 : %c fsux@outlook.com", "color:red");
</script>
<script type="text/javascript">
// let it rain
(function(){
    var counter = document.querySelector('.counter');
  var diner = document.querySelector('h1');
  var menu = ['main', 'function', '1', '0','$','def'];
  var noms = ['组件化', '工程化','HTML', 'CSS', 'JS', '模块化', '交互','UX','架构'];
  var finished = 0;

  // animation to play when finished dining
  function jelly(e) {
    diner.removeEventListener('fit', jelly);
    diner.animate(
      [
        { transform: 'scale(' + 1 / e.detail.scaleFactor + ')' },
        { transform: 'scale(1.1)' },
        { transform: 'scale(.9)' },
        { transform: 'scale(1.05)' },
        { transform: 'scale(.98)' },
        { transform: 'scale(1)' }
      ],
      {
        duration:500
      }
    );
  }

  // eat animation
  function nom(index) {

    var nommer = document.getElementById('nommer-' + index);
    var rotation = -20 + (Math.random() * 40);
    var scale = .75 + (Math.random() * .5);

    nommer.animate(
      [
        { opacity:0, transform: 'scale(' + .25 * scale + ') rotateZ(' + rotation + 'deg) translateY(0) ' },
        { opacity:1, transform: 'scale(' + scale + ') rotateZ(' + rotation + 'deg) translateY(-.5em) ' }
      ],
      {
        duration:300
      }
    );

    diner.animate(
      [
        { transform: 'scaleY(1)' },
        { transform: 'scaleY(' + (.7 + (Math.random() * .2)) + ')' },
        { transform: 'scaleY(1)' }
      ],
      {
        duration:400
      }
    );
  }

  // only when animation api is supported
  if ('animate' in diner) {
    diner.addEventListener('fit', jelly);
  }

  // create food items
  var dishes = menu
  .concat(menu) // duplicate icons
  .sort(function() { return .5 - Math.random(); })
  .concat(['??']) // unfortunately there's no fly emoji
  .map(function(menuItem, i) {

    var offset = 33.33 + (Math.random() * 33.33);

    var dish = document.createElement('div');
    dish.textContent = menuItem;
    dish.setAttribute('aria-hidden', 'true');
    dish.setAttribute('data-nommer', i);
    dish.className = 'dish';
    dish.style.cssText = 'left:' + offset + '%; transition-delay: ' + ((i * 200) + Math.random() * 100) + 'ms';

    var nommer = document.createElement('div');
    nommer.id = 'nommer-' + i;
    nommer.textContent = noms[Math.floor(Math.random() * noms.length)];
    nommer.setAttribute('aria-hidden', 'true');
    nommer.className = 'nommer';
    nommer.style.cssText = 'left:' + offset + '%; opacity:0;';

    counter.appendChild(dish);
    counter.appendChild(nommer);

    return dish;
  });

  // animate into view
  setTimeout(function() {
    requestAnimationFrame(function() {
      dishes.forEach(function (dish) {
        dish.classList.add('drop');
        dish.addEventListener('transitionend', burb);
      })
    });
  }, 500);

  // burb after eating dish
  function burb(e) {
    e.target.removeEventListener('transitionend', burb);
    e.target.style.opacity = 0;

    finished++;
    if (finished === dishes.length) {
      full();
    }
    else if ('animate' in diner) {
      nom(e.target.getAttribute('data-nommer'));
    }
  }

  // so full!
  function full() {
    fitty(diner, {
      minSize:64
    });
  }
}());
</script>