<div class="gotopBox" title="返回顶部"><div class="gotop"></div></div>
<footer class="footer">
  <span>Written by FSUX, all right reserved.</span>
</footer>
  <script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
  <script src="/scripts/pithy.js"></script>

  <script>
  var _hmt = _hmt || [];
  (function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?002f6ffa5129d9ed6ae4b02cd3ca7585";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
  })();
</script>
