<header class="header">
    <div class="header-container">
        <div class="nav">
            <ul>
                <li>
                    <a href="/archive.html#">年度精选</a>
                </li>
                <li>
                    <a href="/about.html#">关于</a>
                </li>
                <li>
                    <a href="mailto:fsux@outlook.com">联系我</a>
                </li>
            </ul>
        </div>
        <div class="MainIndex">
            <p><a class="fsux-logo" href="http://fsux.me/#"></a></p>
            <p><a class="fsux-name " href="http://fsux.me/#">FSUX</a></p>
            <p class="en-name" id="home-motto">Full Stack &amp; User Xperience</p>
        </div>
    </div>
</header>