<header class="header">
    <div class="header-container">
        <div class="MainIndex">
            <a class="fsux-logo" href="http://fsux.me/#"></a>
            <a class="fsux-name " href="http://fsux.me/#">FSUX</a>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="/archive.html#" title="年度">年度</a>
                </li>
                <li>
                    <a href="/tags.html#" title="标签">标签</a>
                </li>
            </ul>
        </div>
    </div>
</header>