<script>
    
var url = document.location.href; // 获取当前浏览器路径

/**
 *
 原生JS实现 Jquery each 方法
 *
 @method jqEach
 *
 @return {object或array，index}  返回数组或对象,索引值
 */
var jqEach = function(object, callback) {
    var type = (function() {
        switch (object.constructor) {
            case Object:
                return 'Object';
                break;
            case Array:
                return 'Array';
                break;
            case NodeList:
                return 'NodeList';
                break;
            default:
                return 'null';
                break;
        }
    })();
    // 为数组或类数组时, 返回: index, value  
    if (type === 'Array' || type === 'NodeList') {
        // 由于存在类数组NodeList, 所以不能直接调用every方法  
        [].every.call(object, function(v, i) {
            return callback.call(v, i, v) === false ? false : true;
        });
    }
    // 为对象格式时,返回:key, value  
    else if (type === 'Object') {
        for (var i in object) {
            if (callback.call(object[i], i, object[i]) === false) {
                break;
            }
        }
    }
}

/**
 *
 原生JS实现 Jquery fadeIn 方法
 *
 @method JqfadeIn
 *
 @return {void}  无返回值
 */

function JqfadeIn(el, time) {
    if (el.style.opacity === "") {
        el.style.opacity = 0;
    }
    if (el.style.display === "" || el.style.display === 'none') {
        el.style.display = 'block';
    }

    var t = setInterval(function() {
        if (el.style.opacity < 1) {
            el.style.opacity = parseFloat(el.style.opacity) + 0.01;
        } else {
            clearInterval(t);
        }
    }, time / 100);
}

/**
 *
 二级标题替换功能
 *
 @method switchSectionTitle
 *
 @return {void}  无返回值
 */

function switchSectionTitle() {

    var urlString = url.toString();
    var titleOneId = document.getElementById("titleOne");
    var errorPageId = document.getElementById("error-page");
    var archivePageUrlOne = "http://fsux.me/archive.html";
    var archivePageUrlTwo = "http://fsux.me/archive.html#";
    var tagsPageUrlOne = "http://fsux.me/tags.html";
    var tagsPageUrlTwo = "http://fsux.me/tags.html#";
    var travelPageUrlOne = "http://fsux.me/travel.html";
    var travelPageUrlTwo = "http://fsux.me/travel.html#";

    function otherUrlFunction() {
        if (errorPageId !== null) {
            titleOneId.innerHTML = "";
        }

    }
    switch (url) {
        case archivePageUrlOne:
        case archivePageUrlTwo:
            titleOneId.innerHTML = "年度精选";

            break;
        case tagsPageUrlOne:
        case tagsPageUrlTwo:
            titleOneId.innerHTML = "标签云";

            break;
        case travelPageUrlOne:
        case travelPageUrlTwo:
            titleOneId.innerHTML = "Photos";

            break;
        default:
            otherUrlFunction();

    }
}

switchSectionTitle(); // 执行标题切换方法

/**
 *
 复制粘贴功能(版权)
 *
 @method addLink
 *
 @return {void}  无返回值
 */
function addLink(msg) {
    var body_element = document.getElementsByTagName("body")[0];
    var selection;
    if (window.getSelection) {
        selection = window.getSelection()
    } else {
        if (document.getSelection) {
            selection = document.getSelection()
        } else {
            if (document.selection) {
                selection = document.selection.createRange().text
            } else {
                selection = ""
            }
        }
    }
    var pagelink = "<br /><br />作者: RenChao Guan<br />链接: <a href='" + url + "'>" + url + "</a>" + "<br />来源:FSUX.ME<br />著作权归 FSUX 网站所有,商业转载请联系作者获得授权,非商业转载请注明出处。";
    var copy_text = selection + pagelink;
    var new_div = document.createElement("div");
    new_div.style.left = "-99999px";
    new_div.style.position = "absolute";
    body_element.appendChild(new_div);
    new_div.innerHTML = copy_text;
    selection.selectAllChildren(new_div);
    window.setTimeout(function() {
            body_element.removeChild(new_div)
        },
        0)
}
document.body.oncopy = addLink;


/**
 *
 百度统计功能,统计PV与UV
*
 */
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?002f6ffa5129d9ed6ae4b02cd3ca7585";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();

/**
 *
 文章爬虫功能
 *
 */
(function() {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    } else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();

/**
 *
 FSUX 理念动画
 *
 */
var fontAnim = document.querySelectorAll("#font-anim span");
var homeButton = document.getElementById("about-me");
var homeMotto = document.getElementById("home-motto");
setTimeout(function() {
    //文字依次显示
    jqEach(fontAnim, function(index, element) {
        setTimeout(function() {
            element.className = "active";
        }, 50 * (index + 1));
    });
    //缓慢显示
    JqfadeIn(homeMotto, 1500)
    homeButton.className = "active";
}, 1300);
</script>