<script>
    
var url = document.location.href; // 获取当前浏览器路径

/**
 *
 复制粘贴功能(版权)
 *
 @method addLink
 *
 @return {void}  无返回值
 */
function addLink(msg) {
    var body_element = document.getElementsByTagName("body")[0];
    var selection;
    if (window.getSelection) {
        selection = window.getSelection()
    } else {
        if (document.getSelection) {
            selection = document.getSelection()
        } else {
            if (document.selection) {
                selection = document.selection.createRange().text
            } else {
                selection = ""
            }
        }
    }
    var pagelink = "<br /><br />作者: RenChao Guan<br />链接: <a href='" + url + "'>" + url + "</a>" + "<br />来源:FSUX.ME<br />著作权归 FSUX 网站所有,商业转载请联系作者获得授权,非商业转载请注明出处。";
    var copy_text = selection + pagelink;
    var new_div = document.createElement("div");
    new_div.style.left = "-99999px";
    new_div.style.position = "absolute";
    body_element.appendChild(new_div);
    new_div.innerHTML = copy_text;
    selection.selectAllChildren(new_div);
    window.setTimeout(function() {
            body_element.removeChild(new_div)
        },
        0)
}

document.body.oncopy = addLink;

/**
 *
 百度统计功能,统计PV与UV
*
 */

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b67f20b76b476cce5ffa82aad966e422";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

/**
 *
 文章爬虫功能
 *
 */
(function() {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    } else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();

</script>