/**
 * Reset some basic elements
 */

/* Basic styling*/
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    margin:  0;
    padding: 0;
    background-color: #f7f7f7;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6,
blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 20px 0;
    padding: 0;
}
ol li{
    line-height: 35px;
}
ol,li {
    list-style: none;
}
p {
    margin: 30px 0;
    letter-spacing: 0.5px;
}
p em {
    font-style: inherit;
    background: #efefef;
    padding: 3px;
}

p strong {
    font-size: 1rem;
    color:#1f1f1f;
}


/* Images*/
img {
    max-width: 100%;
    vertical-align: middle;
}

/* Figures */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/* Headings*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* Links*/
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
    text-decoration: none;
    }
}

/* Blockquotes*/
blockquote {
    padding-left: 25px;
    letter-spacing: 0.2px;
    position:relative;
    color:#999;

    > :last-child {
        margin-bottom: 0;
    }
}
blockquote ol li{
    margin: 15px 0;
}
/* Code formatting */
pre,
code {
    position: relative;
    margin: 1em 0;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
    font-size: 14px;
    background: #ebeef5;
    border-radius: 4px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/*Wrapper*/
.page-content{
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin:50px auto 0;
    height: 100%;
    min-height: 100%;
    padding: 60px;
    position: relative;
    z-index: 998;
    background:#fff;
    box-shadow: 0px 6px 20px 0px rgba(236, 236, 236, 0.86);
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: $content-width;
        padding: 50px 0 25px;
        width: 95%;
        margin-top: 20px;
    }
}

/* Clearfix*/
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
/* Icons*/
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}