ol,
li {
    list-style: none;
}

p em {

    font-style: inherit;
    background: #efefef;
    padding: 3px;
}

.header {
    width: 100%;
    z-index: 999;
    padding: 3em 0;
    margin: 0 auto;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.MainIndex {
    font-size: 25px;
    text-align: left;
    letter-spacing: 1px;
    width: 85px;
    float: left;
    height: 45px;
    line-height: 45px;
    position: relative;
}

.MainIndex a {
    font-family: 'Microsoft YaHei', 'source-han-sans-simplified-c', 'PingFang SC', 'Hiragino Sans GB', 'PingHei', 'Open Sans', sans-serif, Helvetica Neue, 'Work Sans', SimSun;
    color: #000;
    display: inline-block;
    line-height: 45px;
    width: 85px;
    font-weight: 800;
}

.MainIndex a:hover {
    border: 0;
}

.nav {
    float: right;
}
.nav p{
    margin: 0;
    text-align: right;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
}
.nav li {
    float: right;
    padding: 0 0 0 10px;
}

.nav li a {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav li a span:hover{
    color: #000;
}
.post-meta {
    font-size: 11px;
    margin: 3em 0;
    letter-spacing: 0.7px;
    color: #bbb;
}

.host-tag {
    color: #bbb;
    padding-left: 6px;
    transition: all 0.5s ease;
}

.host-tag:hover {
    color: #000;
}

.content {
    position: relative;
    line-height: 2em;
    letter-spacing: 0.2px;
    margin: 10px auto;
}

.post-content {
    margin: 30px auto;
    padding: 0 0 30px;
}

.post-content h2,
.post-content h3,
.post-content h4 {
    font-weight: bold;
    color: #000;
}

.post-content h3 {
    margin: 60px 0;
    line-height: 40px;
    font-size: 1.3rem;
}

.post-content h4 {
    font-size: 1.15rem;
}

.post-content h4:nth-child(1) {
    font-size: 17px;
}

.post-content h5 {
    font-size: 15px;
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left: 4px solid #24d9ec;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.post-content h5:before {
    position: absolute;
    top: 14px;
    left: -12px;
    background-color: #24d9ec;
    color: #fff;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
}

.post-content h6 {
    text-indent: 20px;
    font-size: 16px;
}

.host-date {
    padding: 0 10px;
}

.post-date {
    color: #bbb;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.post-content blockquote p {
    line-height: 1.8em;
    color: #999;
}

.post-content a {
    color: #1DACF5;
}

.post-content a:hover {
    border-bottom: 2px solid #1DACF5;
}

.post-content ul li {
    position: relative;
    padding: 10px 0;
    list-style: inside;
}

.post-list {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0 0 30px 0;
}

.post-list li {
    position: relative;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid #f9f9f9;
}

.artcle-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #1f1f1f;
}

.post-link {
    display: block;
    position: relative;
    padding: 15px 0;
    margin: 5px 0;
}

.post-link h4 {
    color: #999;
}

.black {
    font-size: 1.4rem;
    margin: 15px 0 40px 0;
}

blockquote:before {
    content: "";
    background-color: #bfdfff;
    position: absolute;
    width: 4px;
    top: 10px;
    bottom: 5px;
    left: -15px;
}

.well ul {
    list-style: none;
    color: #bbb;
}

.well ul li {
    line-height: 1em;
    padding: 1px 0;
    position: relative;
}

.well ul li h3 a {
    font-size: 17px;
    display: inline-block;
    letter-spacing: 0.2px;
    color: #222;
}

.well ul li p {
    margin: 10px 0;
    font-size: 14px;
}

.well ul li h3 a:hover {
    color: #000;
}

.post {
    text-align: justify;
    padding: 50px 0 10px;
}

.line {
    border-bottom: 1px dashed #eee;
}

.tags {
    padding-bottom: 20px;
}

.post-tags {
    padding: 30px 0;
}

.category {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    color: #1F1F1F;
    font-weight: bold;
    padding: 10px 0;
}

@font-face {
  font-family: "iconfont";
  src: url('../css/iconfont.eot?t=1503913312401'); /* IE9*/
  src: url('../css/iconfont.eot?t=1503913312401#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../css/iconfont.woff?t=1503913312401') format('woff'), /* chrome, firefox */
  url('../css/iconfont.ttf?t=1503913312401') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../css/iconfont.svg?t=1503913312401#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    padding: 0;
    border-radius: 13px;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail,.icon-tags,.icon-archive,.icon-github{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.icon-mail:before {
    content: "\e70a";
}

.icon-tags:before {
    content: "\e706";
}

.icon-archive:before {
    content: "\e6de";
}

.icon-github:before {
    content: "\e600";
}

.icon-date:before {
    content: "\e61d";
    padding: 0;
}

.icon-tags-item:before {
    content: "\e6a7";
}

.well ul li span {
    font-size: 14px;
    position: absolute;
    height: 60px;
    right: 0;
    line-height: 60px;
    top: 0;
}

.octicon-tag {
    display: inline-block !important;
    margin: 15px 5px 0 0 !important;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.05);
    color: #666;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.octicon-tag:hover,
.post-tags a:hover {
    color: #000;
}

.paginateBox {
    padding: 5px 0 40px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 2em 0;
}

.pageBtn {
    position: absolute;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #888;
    transition: all 0.3s ease;
}

.pageBtn:hover,
.pageBtn:focus {
    color: #1F1F1F;
    transition: all 0.3s ease;
}

.pageBtn-pre {
    left: 0;
}

.pageBtn-next {
    right: 0;
}

.awardBtn {
    text-align: center;
    padding: 3em 0;
}

.awardBtn span {
    height: 55px;
    display: inline-block;
    width: 55px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    font-size: 28px;
    color: #ff8140;
    font-weight: 700;
    border-radius: 55px;
    background: #fff;
    box-shadow: 0px 1px 2px 1px rgba(181, 181, 181, 0.2);
}

.awardBtn span:hover {
    background: #ff8140;
    color: #fff;
}

.awardContent {
    position: relative;
    display: none;
    text-align: center;
}

.gotopBox {
    height: 45px;
    width: 45px;
    z-index: 998;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 25px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 1px 2px 1px rgba(181, 181, 181, 0.2);
}

.gotop:before {
    content: '';
    position: absolute;
    left: 14px;
    top: 17px;
    height: 0;
    width: 0;
    display: block;
    border: 9px transparent solid;
    border-top-width: 0;
    border-bottom-color: #666;
}

.footer {
    font-size: 12px;
    margin: 0 auto;
    padding: 5em 0 1em 0;
    text-align: center;
    letter-spacing: 1px;
    color: #bbb;
}

@media screen and (max-width:420px) {
    body {
        font-size: 17px;
    }
    .post-link h4 {
        font-size: 16px;
    }
}

@media screen and (max-width:800px) {
    .header {
        width: 88%;
    }
    .post-list li {
        margin-top: 40px;
    }
    .wrapper {
        width: 88%;
        margin: 0 auto;
    }
    .page-content {
        width: 95%;
        padding: 0;
        margin-top: 10px;
    }
}