---
layout: default
---
<div class="home">
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <div class="post-link">
                <a class="artcle-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <div class="content">
                    {{ post.excerpt }}
                </div>
                <p class="post-meta"><i class="iconfont icon-date"></i><span class="host-date">{{ post.date | date: "%Y.%m.%d" }}</span><i class="iconfont icon-tags-item"></i>
                    <span>{% for tag in post.tags %}
    <a class="host-tag" href="/tags.html#{{ tag }}">{{ tag }}</a>
    {% endfor %}</span>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Page -->
{% if paginator.total_pages > 1 %}
<div class="paginateBox">
    {% if paginator.previous_page %}
    <a class="pageBtn pageBtn-pre" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a> {% endif %} {% if paginator.next_page %}
    <a class="pageBtn pageBtn-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">更多文章</a> {% endif %}
</div>
{% endif %}