<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <!--    header-html -->
    <div class="banner">
        <div class="banner-bg">
            <canvas id="canvas" width="1950px" height="800px"></canvas>
        </div>
        <div class="banner-content">
            <h1 class="section-title" id="font-anim">探索极致用户体验与最佳工程实践</h1>
            <p class="en-name">
                <span>Full Stack &amp; User</span>
                <span>Xperience</span>
            </p>
            <div class="home-button">
                <a href="mailto:fsux@outlook.com">Contact me</a>
            </div>
        </div>
    </div>
    <!--    banner-html -->
    <div class="page-content">
        <i class="title-icon"></i>
        <h1 class="section-title" id="titleOne">精选文章</h1>
        <div class="wrapper">
            {{ content }}
        </div>
        <!--    wrapper-html -->
    </div>
    {% include footer.html %}
</body>

</html>