<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div>
        {% include header.html %}
        <!--    header-html -->
        <div class="banner">
            <div class="banner-bg"></div>
            <div class="banner-content">
                <p class="en-name">
                    <span>Full Stack &amp; User</span>
                    <span class="mobile-hide">Experience</span>
                </p>
                <h1 class="section-title">探索极致用户体验与最佳工程实践</h1>
            </div>
        </div>
        <!--    popular-topics-html -->
        <div class="popular-topics">
            <div class="popular-content">
                <i class="title-icon"></i>
                <h1 class="section-title">时下流行</h1>
                <div class="popular-wrapper">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--    banner-html -->
        <div class="page-content">
            <i class="title-icon"></i>
            <h1 class="section-title">精选文章</h1>
            <div class="wrapper">
                {{ content }}
            </div>
            <!--    wrapper-html -->
        </div>
        {% include footer.html %}
    </div>
</body>

</html>