<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div>
        {% include header.html %}
        <!-- 	header-html -->
        <div class="banner">
            <div class="banner-bg"></div>
            <div class="banner-content">
                <p class="en-name">
                    <span>Seeking Experience &amp; Engineering </span>
                    <span class="mobile-hide">Conference</span>
                </p>
                <h1 class="cn-name">探索极致用户体验与最佳工程实践</h1>
            </div>
        </div>
        <!-- 	popular-topics-html -->
        <div class="popular-topics">
            <div class="popular-content">
            	<i></i>
            	<h1>特邀嘉宾</h1>



            </div>
        </div>
        <!-- 	banner-html -->
        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
            <!-- 	wrapper-html -->
        </div>
        {% include footer.html %}
    </div>
</body>

</html>