---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="artcle-title black">{{ page.title }}</h1>
        <p class="post-date">{{ page.date | date: "%Y.%m.%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <div class="post-tags post-meta line">
     <i class="iconfont icon-tags-item"></i>
        {% for tag in page.tags %}
        <span><a class="host-tag" href="{{ site.baseurl }}/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a> 
        </span> {% endfor %}
    </div>
    <div class="paginateBox articlesBox">
        <ul>
            <li>
                {% if page.previous.url %}
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top">上一篇<br/><span>{{page.previous.title}}</span></a>{% endif %}
            </li>
            <li>
                {% if page.next.url %}
                <a class="next-post" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top">下一篇<br/><span>{{page.next.title}}</span></a> {% endif %}
            </li>
        </ul>
    </div>
    <div class="awardBtn"><span>赏</span></div>
    <div class="awardContent">
        <img src="/images/wPay.jpg" alt="">
    </div>
</div>